#explorePage {
    overflow: scroll;
    overflow-x: hidden;
    height: 90vh;
    width: 85vw;
    z-index: 0;
    background-image: linear-gradient(to bottom, #1f1f1f, #0f0f0f, #090909, #050505, #050505);
}

#explorePageContents {
    height: 100%;
    width: 100%;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchResults {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    margin-bottom: 10px;
    transition: .4s;
    border-bottom: 1px solid #151515;
    border-radius: 14px;
}

.searchResults:last-child {
    border-radius: 0 0 26px 26px;
    background: #8b42ff;
}

.topSearchResults {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 200px;
    margin-top: 30px;
}
#musicArtContainer, #albumArtContainer {
    display: grid;
    align-items: center;
}

#searchedMusicArt {
    margin-left: 5px;
    height: 55px;
    width: 55px;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 1;
}

#topResultsAlbums {
    /*display: flex;*/
    /*flex-direction: row;*/
    display: grid;
    /*grid-template-columns: 240px 240px 240px;*/
    grid-template-columns: 220px 220px 220px 50px;
    margin-bottom: 60px;
}

#searchedAlbumArt {
    height: 180px;
    width: 180px;
    background: #171717;
    border-radius: 20px;
    grid-column: 1;
    grid-row: 1;
}

#searchedAlbumTitle {
    font-size: 18px;
    margin-top: 12px;
}

#searchedAlbumArtist {
    margin-top: 4px;
    color: #999;
    font-size: 14px;
}

#searchedAlbumIcons {
    position: relative;
    top: 70px;
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
}
#searchedAlbumFavButton {
    margin-right: 110px;
}

#searchedArtistArt {
    margin-left: 5px;
    height: 55px;
    width: 55px;
    border-radius: 30px;
    grid-column: 1;
    grid-row: 1;
}

#failedMusicArt {
    margin-left: -1px;
    height: 55px;
    width: 55px;
    border-radius: 12px;
    grid-column: 1;
    grid-row: 1;
}

#searchedPlayButton {
    width: 22px;
    grid-column: 1;
    grid-row: 1;
    margin-left: 23px;
    opacity: 0;
}

#searchedSongInfo {
    margin-left: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

#searchedSongTitle {
    font-size: 17px;
    width: 450px;
}

#searchedSongArtist {
    margin-top: 4px;
    /*color: #8f49ff;*/
    /*color: #7c7c7c;*/
    color: #999;
    font-size: 14px;
}

#actualInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchedIcons {
    display: flex;
    align-items: center;
    position: relative;
    left: 0.5%;
    height: 100px;
    width: 100px;
}

#searchedAlbumIcons {
    display: flex;
    align-items: center;
    position: relative;
    left: 2.5%;
    height: 100px;
    width: 100px;
}

#searchedArtistIcons {
    display: flex;
    align-items: center;
    position: relative;
    left: 2.5%;
    height: 100px;
    width: 100px;
}

#searchedAlbumPlayButton {
    width: 32px;
    grid-column: 1;
    grid-row: 1;
    margin-left: 70px;
    opacity: 0;
    z-index: 5;
}
#moreButton {
    opacity: .9;
    margin-top: -40px;
}

#searchedSongDuration {
    font-family: "Montserrat", sans-serif;
    margin-left: 15px;
    color: #999;
}

.searchedIcons {
    margin-left: 7.5px;
    width: 21px;
    /*opacity: 0;*/
}

.topSearchIcons {
    margin-left: 110px;
    margin-right: -80px;
}

#downloadSearchButton {
    width: 24px;
    margin-left: 7px;
}

#totalMusicDuration {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-right: 15px;
}

#seeMore {
    font-size: 20px;
    padding: 10px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#searchLoading {
    height: 100px;
    width: 100px;
    background: #8b42ff;
    opacity: .2;
    animation-name: searchLoading;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    transform: scale(.2);
}

@keyframes searchLoading {
    50% {
        opacity: .7;
        transform: scale(1);
        border-radius: 55px;
    }
}

#searchLoadingContainer {
    display: flex;
    margin-top: 40vh;
    justify-content: center;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 20px;
}

#searchedTitle {
    font-size: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.searchedMusicTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 30px;
    opacity: .5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 9px 20px;
}

#activeMusicTitle {
    background: #6f16ff;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
}

.topSearchTitle {
    font-size: 30px;
    /*margin-left: 20px;*/
    font-family: 'Josefin Sans', sans-serif;
}

#resultsHr{
    width: 20%;
    height: 2px;
    background: #333;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
    opacity: 0;
}

#resultsLastHr {
    width: 20%;
    height: 2px;
    background: #333;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.topMostResult {
    background: #171717;
    border-radius: 120px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    overflow: hidden;
    animation: topMostResult .55s;
}

#topMostResultMusicArt {
    border-radius: 120px;
    height: 120px;
    box-shadow: 0 0 20px #000;
}

@keyframes topMostResult {
    from {
        width: 17%;
    }
    to {
        width: 100%;
    }
}


#topMostResultSongInfo {
    margin-left: 22px;
    display: flex;
    position: relative;
}
#topMostResultSongTitle {
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 7px;
    width: 400px;
}
#topMostResultSongArtist {
    font-family: 'Josefin Sans', sans-serif;
    color: #8f49ff;
    font-size: 17px;
    width: 400px;
}

#topMostResultIcons {
    /*margin-top: 9px;*/
    /*margin-left: 18px;*/
    animation: topMostResultIcons 6s;
    position: absolute;
    left: 105%;
    top: 20%;
    width: 150px;
}

@keyframes topMostResultIcons {
    from {
        display: none;
    }
    to {
        display: block;
    }
}

#topMostResultPlayButton {
    width: 25px;
    margin-left: 17px;
}
#topMostResultFavButton, #topMostResultOptionButton {
    width: 22px;
    margin-left: 20px;
}
#topMostResultFavButton {
    margin-left: 10px;
}

#topSearchesContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#topSearchesText {
    font-size: 35px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
}
#topSearch:hover {
    color: #8b42ff;
}

#topSearch {
    padding: 15px 0;
    font-size: 20px;
}

#topSearchesIcon {
    padding-top: 15px;
    padding-right: 10px;
}

#topSearches {
    display: flex;
    transition: .1s;
}

#topSearchesIcon {
    height: 35px;
    margin-left: 10px;
}

#searchBack {
    font-size: 20px;
    color: #777;
}

#mostRecentSearch {
    font-size: 20px;
    opacity: .5;
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    align-items: center;
}

#mostRecentSearchIcon {
    margin-right: 5px;
}

#exploreSearchBar {
    margin: 12px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: -8vh;
    flex-direction: row;
}

#searchedFavButton {
    opacity: 0;
}

#exploreSearchBox {
    padding: 7px;
    padding-left: 15px;
    width: 70%;
    font-size: 17px;
    outline: none;
    border-radius: 20px;
    border-style: solid;
}

#exploreSearchBox:focus {
    box-shadow: 0 0 10px #8b42ff;
}

#null {
    font-size: 1000px;
    color: #fff;
}

@media (hover:hover) {

    .searchResults:hover > #musicArtContainer > #searchedMusicArt {
        opacity: .2;
    }

    .searchResults:hover > #musicArtContainer > #searchedPlayButton {
        opacity: 1;
    }

    .searchResults:hover > #searchedSongInfo > #searchedIcons > #searchedFavButton {
        opacity: 1;
    }

    #albumArtContainer:hover {
        cursor: pointer;
    }

    #albumArtContainer:hover > #searchedAlbumPlayButton {
        opacity: 1;
    }
    #albumArtContainer:hover > #searchedAlbumArt {
        opacity: .1;
    }
    #albumArtContainer:hover > #searchedAlbumIcons {
        opacity: 1;
    }
    #searchedAlbumPlayButton:hover {
        transform: scale(1.1);
    }

    .searchResults:hover {
        background: #181818;
        box-shadow: 0 0 20px #111;
    }

    .searchedIcons:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    #seeMore:hover {
        color: #8b42ff;
        cursor: pointer;
    }

    #activeMusicTitle:hover {
        cursor: default;
    }

    .searchedMusicTitle:hover {
        opacity: 1;
        cursor: pointer;
    }

    #topSearches:hover {
        cursor: pointer;
        color: #8d3eff;
    }

    #searchBack:hover {
        cursor: pointer;
    }

    #mostRecentSearch:hover {
        text-decoration: underline;
    }
    #musicArtContainer:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    #topMostResultPlayButton:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    #moreButton:hover {
        cursor: pointer;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 1400px) {
    #explorePage {
        margin-left: 15vw;
    }
}

@media only screen and (max-width: 750px) {
    #exploreSearchBar {
        display: flex;
        width: 100%;
        margin-left: 20px;
    }

    #explorePage {
        margin-left: 0px;
        width: 100%;
    }

    #topSearchesText {
        font-size: 25px;
    }

    #topSearchesIcon {
        height: 25px;
    }

    #topSearchesContainer {
        margin-top: 30px;
    }

    #topSearch {
        font-size: 17px;
    }

    #searchedTitle {
        font-size: 17px;
    }

    .searchedMusicTitle {
        margin: 30px 10px;
    }

    #searchBack {
        font-size: 20px;
        margin-right: -5px;
    }

    .topSearchTitle {
        font-size: 22px;
        font-weight: bold;
    }

    .searchResults {
        height: 35px;
        width: 50%;
        border-radius: 17px;
        padding-left: 7px;
        margin-bottom: 3px;
    }

    #searchedSongTitle {
        font-size: 17px;
    }

    #searchedSongInfo {
        font-size: 12px;
    }

    #downloadSearchButton,
    #searchedFavButton {
        display: none;
    }

    #searchedIcons {
        left: -43%;
    }

    .searchedIcons {
        margin-left: 5px;
    }

    #resultsLastHr {
        margin-bottom: 115px;
    }

    #activeMusicTitle {
        border-bottom: 2px solid;
    }

}

@media only screen and (max-width: 400px) {
    #exploreSearchBox {
        width: 80%;
        margin-left: -10px;
    }
}