#homePage {
    overflow: scroll;
    overflow-x: hidden;
    width: 85vw;
    z-index: 3;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #11052C, #050505, #050505, #050505, #050505);
}
#content {
    margin-top: 12vh;
}
#greeting {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    margin-bottom: 40px;
}
#username {
    margin-top: 17px;
    display: flex;
    align-items: center;
}
#usernameField, #usernameInput {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
#usernameInput {
    background: transparent;
    border: none;
    border-bottom: 1px solid #6f16ff;
    caret-color: #fff;
    display: none;
}
#usernameInput::placeholder {
    color: transparent;
    -webkit-text-stroke: 1px #aaa;
}
#username:hover > #editUsername {
    opacity: 1;
}
#editUsername {
    margin-left: 15px;
    opacity: 0;
}
#editUsername:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#lastPlayed {
    height: 150px;
    width: 620px;
    border-radius: 40px;
    margin-top: 20px;
    margin-right: 20px;
    background: #171717;
}
#lastPlayedSectionTitle {
    font-size: 18px;
    margin-left: 5px;
}
#likedSongs {
    height: 150px;
    width: 620px;
    border-radius: 40px;
    margin-top: 40px;
    margin-right: 20px;
    background: #171717;
}

#secondaryHomeSection {
    display: inline-flex;
    margin-bottom: 20px;
}
#lastPlayed {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

#lastPlayed:hover, #likedSongs:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px #222;
    cursor: pointer;
}

#playButtonEffectContainer {
    position: relative;
}

#lastPlayedArt > img {
    width: 115px;
    border-radius: 30px;
    margin-left: 20px;
    background: #0a0a0a;
}
#lastPlayedDetails, #likedSongsDetails {
    margin-left: 20px;
    width: 405px;
    /*background: #6f16ff;*/
}
#lastPlayedTitle, #likedSongsTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-bottom: 7px;
}
#lastPlayedArtist, #likedSongsNumber {
    font-family: 'Josefin Sans', sans-serif;
    color: #6f16ff;
    font-size: 18px;
}
#homeCardContainer {
    display: grid;
    gap: 20px;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 280px 280px 280px;
}
#homeCardImg {
    height: 200px;
    width: 200px;
    transition: .4s;
    border-radius: 20px;
}
#likedSongs {
    display: flex;
    align-items: center;
}
#heartIcon {
    margin-left: 20px;
    background: #0a0a0a;
    padding: 25px;
    border-radius: 30px;
}
.homeCard {
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}
.homeCard:hover {
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0 0 30px #310087;
}
#homePageTitleContainer {
    font-size: 25px;
    display: flex;
    margin: 20px 5px;
}
#homePageTitle {
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 10px;
    width: 200px;
}
#exploreMoreHomeContainer {
    font-size: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
#exploreMoreHome {
    padding-top: 10px;
    width: 400px;
}
#homeSeparatorContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#homeSeparator {
    width: 130px;
    height: 5px;
    background: #ddd;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
}

#fireEmoji {
    height: 25px;
}
#handWaveEmoji {
    height: 30px;
    padding-left: 8px;
    /*display: none;*/
}
#exploreMoreHome:hover {
    color: #8D3EFF;
}
#homeCardTitle {
    margin-top: 5px;
    font-size: 15px;
}
@media only screen and (max-width: 1740px) {
    #homePage {
        margin-top: 30px;
        width: 86%;
        margin-left: 14vw;
    }
    #homeCardContainer {
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 280px 280px 280px 280px 280px;
    }
}
@media only screen and (max-width: 1500px) {
    #homeCardContainer {
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 280px 280px 280px 280px 280px 280px 280px;
    }
}
@media only screen and (max-width: 1400px) {
    #homePage {
        width: 92%;
        margin-left: 110px;
    }
    #homeCardContainer {
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 280px 280px 280px 280px 280px;
    }
}
@media only screen and (max-width: 1170px) {
    #homePage {
        width: 92%;
        margin-left: 110px;
    }
    #homeCardContainer {
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 280px 280px 280px 280px 280px;
    }
}
@media only screen and (max-width: 880px) {
    #greeting{
        text-align: center;
        font-weight: bold;
    }
    #homePage {
        width: 92%;
        margin-left: 70px;
    }
    #homeCardImg, .homeCard {
        height: 150px;
        width: 150px;
    }
    #homeCardContainer {
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px 200px 200px;
    }
}

@media only screen and (max-width: 750px) {
    #homePage {
        margin-left: 0;
        width: 100%;
    }
    #exploreMoreHome {
        margin-bottom: 35px;
    }
    #homeCardImg, .homeCard {
        height: 110px;
        width: 110px;
    }
    #homeCardTitle {
        font-size: 14px;
    }
    #homePageTitle {
        font-size: 16px;
        width: 140px;
    }
    #homeCardContainer {
        grid-template-columns: 170px 170px 170px;
        grid-template-rows: 200px 200px 200px 200px 200px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 550px) {
    #greeting{
        font-size: 30px;
    }
    #homeCardTitle {
        margin-top: 5px;
        font-size: 12px;
    }
    #homeCardImg, .homeCard {
        height: 90px;
        width: 90px;
        border-radius: 12px;
    }
    #homeCardContainer {
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 125px 125px 125px 125px 125px;
        margin-left: 30px;
    }
    #exploreMoreHomeContainer {
        padding-bottom: 100px;
    }
}
@media only screen and (max-width: 440px) {
    #homeCardTitle {
        margin-top: 5px;
        font-size: 13px;
    }
}